<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interest.ids.commoninterface.dao.alarm.WorkFlowTaskUserMapper">
 <resultMap id="BaseResultMap" type="com.interest.ids.common.project.bean.alarm.WorkFlowTaskUserM" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="proc_id" property="procId" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="station_code" property="stationCode" jdbcType="VARCHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, proc_id, task_id, user_id, station_code, enterprise_id
  </sql>
  
  <!-- 添加任务处理人 -->
  <insert id="insertWorkFlowTaskUserM" parameterType="com.interest.ids.common.project.bean.alarm.WorkFlowTaskUserM">
    insert into ids_workflow_task_user_t(proc_id, task_id, user_id, station_code, enterprise_id)
    values (#{procId},#{taskId},#{userId},#{stationCode},#{enterpriseId})
  </insert>
  
  <!-- 更新任务处理人 -->
  <update id="updateWorkFlowTaskUserM" parameterType="com.interest.ids.common.project.bean.alarm.WorkFlowTaskUserM">
    update ids_workflow_task_user_t
    <set >
      <if test="procId != null" >
        proc_id = #{procId,jdbcType=VARCHAR},
      </if>
      <if test="taskKey != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="stationCode != null" >
        station_code = #{stationCode,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 删除任务处理人 -->
  <delete id="deleteWorkFlowTaskUserM" parameterType="java.lang.String">
    delete from ids_workflow_task_user_t where task_id = #{value}
  </delete>
  
  <!-- 根据任务key获取当前任务处理人的详细信息 -->
  <select id="getTaskUserDetailByTaskKey" parameterType="java.lang.String" resultType="java.lang.Long">
    select user_id from ids_workflow_task_user_t where task_id = #{value}
  </select>
  <!-- 根据taskid查询任务关联用户数据 -->
  <select id="selectWorkFlowTaskUserByPrvTaskId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from ids_workflow_task_user_t where task_id = #{value}
  </select>
</mapper>