<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:component-scan base-package="com.interest.ids.dev.network,com.interest.ids.dev.api.service" /> 
	
	<bean id="config" class="com.interest.ids.dev.network.modbus.netty.NettyServerConfig"/>
    <bean class="com.interest.ids.dev.network.modbus.netty.ModbusServer" init-method="start">
    	<constructor-arg index="0" ref="config" />
    </bean>
    <!-- 铁牛数采连接服务的端口号是 -->
    <bean id="tnscIec104Server" class="com.interest.ids.dev.network.iec.netty.Iec104Server" init-method="start">
        <constructor-arg index="0" value="${tndc.server.port}" />
    </bean>
    
    
    
     <!-- <bean id="signalService" class="com.interest.ids.dev.network.service.SignalService"/>
	
	<bean id="devService" class="com.interest.ids.dev.network.service.impl.DevDeviceServiceImpl">
		
	</bean> 
	
	<bean id="connectionHandler" class="com.interest.ids.dev.network.handler.ConnectionHandler">
		<property name="devService" ref=""></property>
	</bean>
	
	<bean id="deviceSearchHandler" class="com.interest.ids.dev.network.handler.DeviceSearchHandler">
		<property name="devService" ref=""></property>
	</bean>   -->
	
	
</beans>