<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.interest.ids.commoninterface.dao.largescreen.LargeScreenDao4DomainMapper">

	<select id="getDomainInfo" parameterType="java.lang.Long" resultType="java.util.Map">
		SELECT * FROM
		(SELECT domain.id,domain.`name`,domain.parent_id pid,domain.latitude,'2' as nodeType,domain.longitude,
		domain.radius,domain.path FROM ids_sm_domain_info_t domain,ids_sm_enterprise_info_t enterP
		WHERE domain.enterprise_id = enterP.id AND FIND_IN_SET(domain.id,get_domain_parent_list (#{domainId}, 0))
		UNION ALL
		SELECT enterP.id,enterP.`name`,enterP.parent_id pid,'' AS latitude,'1' as nodeType,
		'' AS longitude,'' AS radius,'' AS path FROM ids_sm_enterprise_info_t enterP,ids_sm_domain_info_t domain
		WHERE enterP.id = domain.enterprise_id AND domain.id = #{domainId}) result ORDER BY result.path
	</select>

	<!-- 根据区域id查询当前区域下直属电站和区域 -->
	<select id="getDomainChildByDomainId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT domain.id,domain.`name`,domain.latitude,domain.longitude,'2' AS nodeType,"" AS combinedType,
		'' AS stationType,'' AS capacity
		FROM ids_sm_domain_info_t domain
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				where 1 = 1 AND domain.parent_id = #{domainId}
			</when>
			<otherwise>
				WHERE domain.id in (
				SELECT substring_index(substring(substring_index(domain.path, #{domainId}, -1),2,6), '@', 1)
				FROM ids_sm_domain_info_t domain,ids_station_info_t station,ids_sm_user_station_t userstation
				WHERE userstation.user_id = #{id} AND userstation.station_code = station.station_code 
				AND station.domain_id = domain.id
				UNION SELECT domain1.id FROM ids_sm_domain_info_t domain1,ids_station_info_t station,ids_sm_user_station_t userstation 
				WHERE userstation.user_id = #{id} AND userstation.station_code = station.station_code 
				AND station.domain_id = domain1.id)
				AND domain.parent_id = #{domainId}
			</otherwise>
		</choose>
		UNION ALL
		SELECT station.station_code,station.station_name `name`,
		station.latitude,station.longitude,'3' AS nodeType,
		station.online_type combinedType,station.station_build_status stationType,station.installed_capacity
		FROM ids_station_info_t station
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				where 1 = 1
			</when>
			<otherwise>
				,ids_sm_user_station_t userStation
				WHERE station.station_code = userStation.station_code AND userStation.user_id = #{id}
			</otherwise>
		</choose>
		AND station.domain_id = #{domainId} AND station.is_delete = '0' 
	</select>
	
	<!-- 查询区域的当日日负荷曲线 -->
	<select id="getActivePower" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT result.collect_time collectTime,sum(result.active_Power) activePower
		FROM (SELECT realtimeT.collect_time,realtimeT.active_Power,realtimeT.station_code
		FROM ids_station_realtime_data_t realtimeT,ids_sm_domain_info_t domain,ids_station_info_t station
		where domain.id = station.domain_id and realtimeT.station_code = station.station_code 
    	and realtimeT.collect_time BETWEEN #{startDate} and #{endDate}
		UNION 
		SELECT realtimeH.collect_time,realtimeH.active_Power,realtimeH.station_code
		FROM ids_station_realtime_data_h realtimeH,ids_sm_domain_info_t domain,ids_station_info_t station
		where domain.id = station.domain_id and realtimeH.station_code = station.station_code 
    	and realtimeH.collect_time BETWEEN #{startDate} and #{endDate} )
		result
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				,ids_station_info_t station where 1 = 1 and station.station_code = result.station_code
				and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</when>
			<otherwise>
				,ids_sm_user_station_t userstation,ids_station_info_t station WHERE 
				userstation.user_id = #{id} and userstation.station_code = result.station_code
				and station.station_code = result.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</otherwise>
		</choose>
		GROUP BY result.collect_time
	</select>

	<!-- 查询区域的当前负荷 -->
	<select id="getCurrentActivePower" parameterType="java.util.Map" resultType="java.lang.Double">
		SELECT SUM(realtime.active_power) AS currentPower
		FROM ids_station_realtime_data_t realtime,
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				ids_station_info_t station
				WHERE station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				) and realtime.station_code = station.station_code AND station.is_delete = '0'
			</when>
			<otherwise>
				ids_sm_user_station_t userStation,ids_station_info_t station
				WHERE realtime.station_code = station.station_code AND station.station_code = userStation.station_code
				AND userStation.user_id = #{id} AND station.is_delete = '0' and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</otherwise>
		</choose>
	</select>


	<!-- 查询区域的日发电量和收益 -->
	<select id="getPowerTrends" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT stationDay.collect_time collectTime,SUM(stationDay.product_power) productPower,
		SUM(stationDay.power_profit) powerProfit
		FROM ids_kpi_day_station_t stationDay,
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				ids_station_info_t station
				WHERE station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				) and station.station_code = stationDay.station_code and station.is_delete = '0'
			</when>
			<otherwise>
				ids_sm_user_station_t userStation,ids_station_info_t station
				WHERE station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				) AND userStation.station_code = station.station_code
				AND station.station_code = stationDay.station_code AND userStation.user_id = #{id} and station.is_delete = '0'
			</otherwise>
		</choose>
		and stationDay.collect_time BETWEEN #{firstDayOfMonth} and #{lastDayOfMonth}
		GROUP BY stationDay.collect_time
	</select>

	<select id="getCurrentDayCap" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT SUM(realtime.day_cap) dayCapacity,SUM(realtime.day_income) dayIncome
		FROM ids_station_realtime_data_t realtime,
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				ids_station_info_t station
				WHERE realtime.station_code = station.station_code
				AND station.is_delete = '0' and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</when>
			<otherwise>
				ids_station_info_t station,ids_sm_user_station_t userStation
				WHERE realtime.station_code = station.station_code AND userStation.station_code = station.station_code
				AND station.is_delete = '0' AND userStation.user_id = #{id} and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</otherwise>
		</choose>
		AND realtime.collect_time > #{currentDay}
	</select>


	<!-- 查询区域的累计发电量 -->
	<select id="getCommonData" parameterType="java.util.Map" resultType="java.util.Map">
		select SUM(realtime.product_power) totalCapacity,SUM(station.installed_capacity) capacity,
		SUM(taskinfo.allTaskCount) allTaskCount,SUM(taskinfo.notFinishTaskCount) notFinishTaskCount
		from ids_station_realtime_data_t realtime,ids_station_info_t station
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				LEFT JOIN 
				(SELECT alltask.station_code,alltask.allTaskCount,notfinishtask.notFinishTaskCount FROM 
				(SELECT station_code,COUNT(1) allTaskCount 
				FROM ids_workflow_defect_t GROUP BY station_code) alltask
				LEFT JOIN
				(SELECT station_code,COUNT(1) notFinishTaskCount 
				FROM ids_workflow_defect_t WHERE proc_state <![CDATA[ <> ]]> 3 GROUP BY station_code) notfinishtask
				ON alltask.station_code = notfinishtask.station_code) taskinfo 
				ON taskinfo.station_code = station.station_code
				where realtime.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</when>
			<otherwise>
				,ids_sm_user_station_t userStation
				LEFT JOIN 
				(SELECT alltask.station_code,alltask.allTaskCount,notfinishtask.notFinishTaskCount FROM 
				(SELECT station_code,COUNT(1) allTaskCount 
				FROM ids_workflow_defect_t GROUP BY station_code) alltask
				LEFT JOIN
				(SELECT station_code,COUNT(1) notFinishTaskCount 
						FROM ids_workflow_defect_t WHERE proc_state <![CDATA[ <> ]]> 3 GROUP BY station_code) notfinishtask
				ON alltask.station_code = notfinishtask.station_code) taskinfo 
				ON taskinfo.station_code = userStation.station_code
				where realtime.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
				and userStation.station_code = station.station_code
				and userStation.user_id = #{id}
			</otherwise>
		</choose>
		
	</select>
	

	<!-- 查询区域的电站统计 -->
	<select id="getListStationInfo" parameterType="java.util.Map" resultType="java.util.Map">
		select result.stationLevel,count(1) stationCount from
		(SELECT CASE 
		WHEN <![CDATA[station.installed_capacity > 0 ]]> <![CDATA[AND station.installed_capacity <= 5 THEN]]> 's0to5'
		WHEN <![CDATA[station.installed_capacity > 5 ]]> <![CDATA[AND station.installed_capacity <= 10 THEN]]> 's5to10'
		WHEN <![CDATA[station.installed_capacity > 10 ]]> <![CDATA[AND station.installed_capacity <= 100 THEN]]> 's10to100'
		WHEN <![CDATA[station.installed_capacity > 100 ]]> <![CDATA[AND station.installed_capacity <= 500 THEN]]> 's100to500'
		ELSE 's500up' END as stationLevel
		FROM ids_station_info_t station
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				where 1 = 1 and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</when>
			<otherwise>
				ids_sm_user_station_t userStation
				WHERE userStation.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
				AND station.is_delete = '0' AND userStation.user_id = #{id}
			</otherwise>
		</choose>
		) result 
		GROUP BY result.stationLevel
	</select>

	<!-- 查询区域的当年社会贡献 -->
	<select id="getYearSocialContribution" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT SUM(yearS.product_power/1000)*0.997 carbonEmissions,
		SUM(yearS.product_power/1000)*0.4 savedCoal,
		SUM(yearS.product_power)/18.3 deforestation
		FROM ids_kpi_year_station_t yearS,ids_station_info_t station
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				where yearS.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</when>
			<otherwise>
				,ids_sm_user_station_t userStation
				WHERE userStation.station_code = station.station_code 
				AND yearS.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
				AND userStation.user_id = #{id}
			</otherwise>
		</choose>
		and yearS.collect_time = #{year}
	</select>


	<!-- 查询区域的累计社会贡献 -->
	<select id="getTotalSocialContribution" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		SUM(realtime.product_power/1000)*0.997 carbonEmissions,
		SUM(realtime.product_power/1000)*0.4 savedCoal,
		SUM(realtime.product_power)/18.3 deforestation
		FROM
		ids_station_realtime_data_t realtime,ids_station_info_t station
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				WHERE realtime.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</when>
			<otherwise>
				,ids_sm_user_station_t userStation
				WHERE userStation.station_code = station.station_code 
				AND realtime.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
				AND userStation.user_id = #{id}
			</otherwise>
		</choose>
	</select>
	
	<!-- 根据区域的设备数量 -->
	<select id="getDeviceCount" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT dev.dev_type_id devTypeId,count(1) devTypeCount
		FROM ids_dev_info_t dev,ids_station_info_t station
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				where dev.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</when>
			<otherwise>
				,ids_sm_user_station_t userStation
				WHERE userStation.user_id = #{id} and userStation.station_code = station.station_code 
				AND station.is_delete = '0' AND dev.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</otherwise>
		</choose>
		AND dev.is_logic_delete = '0' AND dev.dev_type_id IN (1, 14, 15)
		GROUP BY dev.dev_type_id
		UNION ALL
		SELECT 'pv' AS devTypeId,SUM(module.modules_num_per_string) devTypeCount
		FROM ids_device_pv_module_t module,ids_dev_info_t dev,ids_station_info_t station
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				where dev.station_code = station.station_code
				and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</when>
			<otherwise>
				,ids_sm_user_station_t userStation
				WHERE userStation.user_id = #{id} AND station.station_code = userStation.station_code
				AND station.is_delete = '0' 
				and dev.station_code = station.station_code and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</otherwise>
		</choose>
		AND module.dev_id = dev.id AND dev.is_logic_delete = '0' AND dev.dev_type_id IN (1, 14, 15)
	</select>
	

	<!-- 电站的告警分类统计 -->
	<select id="getAlarmStatistics" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT alarm.lev_id levelId,COUNT(1) alarmCount FROM ids_alarm_t alarm,ids_station_info_t station
		AND alarm.station_code = station.station_code AND station.station_code = #{value}
		GROUP BY alarm.lev_id
	</select>

	<!-- 查询当前系统的安全运行天数 -->
	<select id="getSafeRunDays" parameterType="java.util.Map" resultType="java.lang.String">
		select Max(stationparam.param_value) safeRunDays from ids_sm_station_param_t stationparam
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				,ids_sm_user_info_t userinfo,ids_station_info_t station 
				WHERE stationparam.station_code = station.station_code
				AND userinfo.id = #{id} and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</when>
			<otherwise>
				,ids_sm_user_station_t userstation,ids_station_info_t station 
				WHERE userstation.station_code = stationparam.station_code
				AND userstation.user_id = #{id} and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
				and stationparam.station_code = station.station_code
			</otherwise>
		</choose>
		and stationparam.param_key = 'SAFEOPRDATE'
	</select>
	
	<select id="getPowerGeneration" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT SUM(realtime.active_power) activePower,SUM(realtime.day_cap) dayCap,SUM(realtime.day_income) dayIncome,
		SUM(stationyear.ongrid_power) ongridPower,SUM(realtime.product_power) totalPower,SUM(realtime.total_income) totalIncome,
		SUM(station.installed_capacity) capacity
		FROM 
		<choose>
			<when test="type_ == 'system' or type_ == 'enterprise'">
				ids_station_info_t station
				LEFT JOIN ids_station_realtime_data_t realtime ON station.station_code = realtime.station_code
				AND realtime.collect_time > #{today}
				LEFT JOIN ids_kpi_year_station_t stationyear ON station.station_code = stationyear.station_code
				AND stationyear.collect_time = #{year}
				WHERE station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				) AND station.is_delete = '0'
			</when>
			<otherwise>
				ids_station_info_t station,ids_sm_user_station_t userStation
				LEFT JOIN ids_station_realtime_data_t realtime ON userStation.station_code = realtime.station_code
				AND realtime.collect_time > #{today}
				LEFT JOIN ids_kpi_year_station_t stationyear ON userStation.station_code = stationyear.station_code
				AND stationyear.collect_time = #{year}
				WHERE userStation.station_code = station.station_code
				AND userStation.user_id = #{id} and station.domain_id IN (
				SELECT domain1.id from ids_sm_domain_info_t domain1,ids_sm_domain_info_t domain2 
				WHERE domain2.id = #{domainId} and domain1.path like concat('' ,domain2.path ,'@%')
	 			UNION SELECT id FROM ids_sm_domain_info_t WHERE id = #{domainId}
				)
			</otherwise>
		</choose>
	</select>
</mapper>