<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interest.ids.commoninterface.dao.station.PhalanxInfoMapper">
	<resultMap id="BaseResultMap" type="com.interest.ids.common.project.bean.phalanx.PhalanxInfoBean">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="phalanx_name" jdbcType="VARCHAR" property="phalanxName" />
		<result column="station_code" jdbcType="VARCHAR" property="stationCode" />
		<result column="create_time" jdbcType="DATE" property="createTime" />
		<result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
		<result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
		<result column="update_time" jdbcType="DATE" property="updateTime" />
		<result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
		<result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
	</resultMap>

</mapper>